.reflect-loader-bubble {
background:url(//a.disquscdn.com/next/embed/assets/img/loader-bg.83a51a23e5c47337475113016b8fb0de.png) no-repeat!important;
}

.reflect-loader-spinner {
-webkit-animation:reflect-loader-spinner-animation .7s infinite linear!important;
animation:reflect-loader-spinner-animation .7s infinite linear!important;
}

100% {
-webkit-transform:rotate(360deg);
transform:rotate(360deg);
}